<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>partyAux.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>392AD13A2E21767C0036DD96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392AD1472E21767D0036DD96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392AD1512E21767D0036DD96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
